body {
    font-family: Arial, sans-serif;
    background-color: #e7f3f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.name-group {
    display: flex;
    justify-content: space-between;
}

.input-group {
    flex: 1;
    margin-right: 10px;
}

.input-group:last-child {
    margin-right: 0;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.radio-group {
    display: flex;
    justify-content: space-between;
}

.radio-item {
    width: 13rem;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
}

.radio-item input[type="radio"] {
    margin-right: 5px;
}

.checkbox-group {
    display: flex;
    align-items: center;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 10px;
    transform: translateY(-1px); /* Adjust to align with label */
}

.radio-item label,
.checkbox-group label {
    margin: 0; /* Remove margin for labels in radio and checkbox groups */
}

textarea {
    resize: vertical;
}

button {
    background-color: #218c74;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background-color: #1e7b67;
}

span {
    color: red;
}

@media (max-width: 600px) {
    .form-container {
        padding: 15px;
    }

    .form-group {
        margin-bottom: 10px;
    }

    .name-group {
        flex-direction: column;
    }

    .input-group {
        margin-right: 0;
        margin-bottom: 10px;
    }

    button {
        padding: 12px;
    }
}
